body {
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	overflow: hidden;

	--fgcolor: #e7213b;
	--bgcolor: #b93834;
	--pattern: 22px;
}

button {
	width: calc(100vw - 2rem);
	height: calc(100vw - 2rem);

	border-radius: 100%;
	margin: 1rem;
	background-color: #ee1020;
	user-select: none;
	border-width: 4px;
}

button > img {
	height: 50%;
	transition: 0.2s;
}

button:active > img {
	height: 60%;
	transform: skewx(-49deg);
}

button:active {
	background-color: #bb1020;
}

input {
	width: calc(100vw - 2rem);
	box-sizing: border-box;
	margin: 1rem;
	margin-bottom: 0;
	font-size: 1rem;
	text-align: center;
	font-family: monospace;
}

#score {
	font-family: monospace;
	box-sizing: border-box;
	padding: 1em;
	background-color: #fff6;
	font-size: 1rem;
}
