.patterned {
	background: conic-gradient(at 10% 50%, #0000 75%, var(--fgcolor) 0),
		conic-gradient(at 10% 50%, #0000 75%, var(--fgcolor) 0)
			calc(1 * var(--pattern)) calc(3 * var(--pattern)),
		conic-gradient(at 10% 50%, #0000 75%, var(--fgcolor) 0)
			calc(2 * var(--pattern)) calc(1 * var(--pattern)),
		conic-gradient(at 10% 50%, #0000 75%, var(--fgcolor) 0)
			calc(3 * var(--pattern)) calc(4 * var(--pattern)),
		conic-gradient(at 10% 50%, #0000 75%, var(--fgcolor) 0)
			calc(4 * var(--pattern)) calc(2 * var(--pattern)),
		conic-gradient(at 50% 10%, #0000 75%, var(--fgcolor) 0) 0
			calc(4 * var(--pattern)),
		conic-gradient(at 50% 10%, #0000 75%, var(--fgcolor) 0)
			calc(1 * var(--pattern)) calc(2 * var(--pattern)),
		conic-gradient(at 50% 10%, #0000 75%, var(--fgcolor) 0)
			calc(2 * var(--pattern)) 0,
		conic-gradient(at 50% 10%, #0000 75%, var(--fgcolor) 0)
			calc(3 * var(--pattern)) calc(3 * var(--pattern)),
		conic-gradient(at 50% 10%, #0000 75%, var(--fgcolor) 0)
			calc(4 * var(--pattern)) calc(1 * var(--pattern)),
		var(--bgcolor);
	background-size: calc(5 * var(--pattern)) calc(5 * var(--pattern));

	backdrop-filter: blur(5px);
}
