
.icon-award:before { content: '\e800'; } /* '' */
.icon-play-circled:before { content: '\e801'; } /* '' */
.icon-pause-circled:before { content: '\e802'; } /* '' */
.icon-stop-circled:before { content: '\e803'; } /* '' */
.icon-stopwatch:before { content: '\e804'; } /* '' */
.icon-award-1:before { content: '\e805'; } /* '' */
.icon-list-numbered:before { content: '\f0cb'; } /* '' */
